@model IEnumerable<StPats.Models.Filtros_StPats>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filters</h2>
<!---<div class="form-group">
    <button class="btn btn-sm btn-success" onclick="location.href = '@Url.Action("Create")'">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add New Locatios
    </button>
</div> -->
<table class="table">
    <tr>
        <th>
           Filter Code
        </th>
        <th>
            Number of Plates
        </th>
        <th>
            Filter Surface Area
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.filtro_codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero_plates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area_superficie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <!--  <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = item.id_filtro })'">
                    <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                </button> -->
                <button class="btn btn-info btn-sm" onclick="location.href = '@Url.Action("Details", new { id = item.id_filtro })'">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp; Details
                </button>
                <!--<button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = item.id_filtro })'">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
                </button>  -->
            </td>
        </tr>
    }

</table>
