@model StPats.Models.Lista_Productos_StPats

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>
            Order Details
        </h2>

        <thead>
            <tr>
                <dt>
                    Quantity of products
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.id_cantidad)
                </dd>

                <dt>

                    Price by unit
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.precio_total)
                </dd>

                <dt>
                    Product Code
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Productos_StPats.codigo)
                </dd>

                </dl>

                <d class="text-center">
                    <strong>Total Price </strong>
                </d>
                <dd>
                    @Html.DisplayFor(model => model.precio_unitario)
                </dd>

               
        </thead>
    </div>
</body>
<p>
    <div class="form-group text-center">
        <button class="btn-danger btn-sm" onclick="location.href = '@Url.Action("Index","Productos_StPats", "Productos_StPats")'">
            <span class="	glyphicon glyphicon-backward"></span>&nbsp; Cancel Order
        </button>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Details","Lista_Productos_StPats", new { id = Model.id_lista_producto })'">
            <span class="glyphicon glyphicon-check"></span>Pay Order
        </button>
    </div>
</p>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
