@model StPats.Models.Tanks_StPats

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tanks_StPats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo_tanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_tanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bottom_valve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bottom_valve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lifting_arm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lifting_arm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replacemnet_infiatable_gasket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replacemnet_infiatable_gasket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locations_StPats.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locations_StPats.description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


<button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = Model.id_tanque })'">
    <span class="glyphicon glyphicon-trash"></span>&nbsp;Eliminar
</button>
}
    <p></p>
    <div class="form-group">
        <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index")'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;Back to list
        </button>
    </div>
</div>



