@model StPats.Models.Labeler_StPats

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Details for the product: @Html.DisplayFor(model => model.name_product) </h2>
<div class="container">

    <hr />
    <dl class="dl-horizontal">
        <h4>

            <dt>
                Name Product
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name_product)
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
<<<<<<< HEAD
                Price
=======
                @Html.DisplayNameFor(model => model.price)
>>>>>>> c3d3ce6ede3429c36ff6525665e4e6d1c0b1213d
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.price)
            </dd>


            <dt>
                Voltage Regulator
            </dt>

            <dd>
                @Html.DisplayFor(model => model.voltage_regulator)
            </dd>


            <dt>
<<<<<<< HEAD
                Location
=======
                @Html.DisplayNameFor(model => model.Locations_StPats.description)
>>>>>>> c3d3ce6ede3429c36ff6525665e4e6d1c0b1213d
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Locations_StPats.description)
            </dd>

            <dt>
                Name Manufactured
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufactured_Stpats.name_manufactured)
            </dd>
            <dt>
                Extra Details
            </dt>

            <dd>
                @Html.DisplayFor(model => model.extra_things)
            </dd>
            <dt>
                Manual
            </dt>

            <dd>
                <a href="@Html.DisplayFor(model => model.manual)"> See Manual</a>
            </dd>

            <dt>
                Image
            </dt>

            <dd>
                <a href="@Html.DisplayFor(model => model.image)"> See Image</a>
            </dd>
</dl>
    </h4>
</div>
<p>
    <div class="form-group text-center">

        <button class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Create","Lista_Productos_StPats", new { id = Model.Productos_StPats.id_producto, precio =Model.Productos_StPats.price })'">
            <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
        </button>
    </div>
    <div class="form-group text-center">
        <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index")'">
            <span class="	glyphicon glyphicon-backward"></span>&nbsp; Back to the last page
        </button>
    </div>

</p>
</p>
